 .tooltip {
  background: $tooltip-background-color;
  border: 0;
  border-radius: 8px;
  font-family: $font;
  font-size: 12px;
  font-weight: bold;
  height: 100px;
  padding: 2px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 120px;
}
