<!DOCTYPE html>
<html lang="en">
 
<head>
	 <meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta name="description" content="">
	 <meta name="author" content="">

	 <title>SignUp Template for Bootstrap </title>

	 <link href="static/css/bootstrap.min.css" rel="stylesheet">
	 <link href="static/css/signup.css" rel="stylesheet">

	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	 <script src="static/js/signUp.js"></script>
	 <script type ="text/javascript">
         	function showMessage(){
        	var message = document.getElementById('message');
        	var inputemail = document.getElementById('inputUsername').value;
	        var pass = document.getElementById('inputPassword').value;
        	mes = "Congratulations on registering for CSE6242, "+inputemail+"! Redirecting you to the course homepage.";
	        message.innerHTML = mes;
        	
		setTimeout(function(){
            		document.location.href = "http://poloclub.gatech.edu/cse6242/2018spring/";
        	},3000);
        	ducument.getELementById('myform').reset();
        	}
     	</script>	 
</head>
 
<body>
    <div class="container" onsubmit="return false">
        <form class="form-signin" id="myform" role="form">
        <h2 class="form-signin-heading">Sign Up for campus CSE6242</h2>
        <input type="email" id="inputUsername" name="username" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>       
        <button id="Submit" class="btn btn-lg btn-primary btn-block" type="submit" onclick="return showMessage()">Register</button>
	<h3 class="form-signin-heading" id="message" ></h3>
		</form>   
     </div>  
</body>
 
</html>
